<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<div class="m-4 bordered-1">
  <%= render 'form' , bookmark: @bookmark%>
</div>

<table class="table table-bordered" id="table_bookmarks">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Kind</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @bookmarks %>
  </tbody>
</table>
<%= pie_chart @piec, title: "Bookmarks por tipo"%>

<br>


