<h1>Inicio</h1>
<%= link_to "Bookmarks", bookmarks_url, class: "btn btn-outline-secondary" %>
<%= link_to "Categorias", categories_url, class: "btn btn-outline-secondary"%>
<%= link_to "Tipos", kinds_url, class: "btn btn-outline-secondary" %>


